@import './Select.css';

.android body {
  background: rgb(240, 240, 244);
}

@media (prefers-color-scheme: dark) {
  body,
  .android body {
    background: rgb(28, 27, 34);
    color: rgb(251, 251, 254);
  }

  .desktop body {
    background: rgb(35, 34, 43);
    color: white;
  }
}

html.desktop,
html.desktop body {
  height: 100%;
}

.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.android .row {
  align-items: center;
}

.row label {
  margin-right: 60px;
  line-height: 26.9333px;
  font-size: 14.96px;
}

.android .row label {
  margin-right: 24px;
}
