.select-wrapper {
  display: inline-block;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(207, 207, 216, 0.33);
  font-size: 15px;
  line-height: 32px;
  position: relative;
  width: 220px;
}

.android .select-wrapper {
  width: 220px;
}

.select-wrapper span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-weight: 600;
  padding: 0 30px 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-wrapper span:before {
  content: '';
  display: block;
  width: 12px;
  height: 100%;
  right: 12px;
  background: black;
  position: absolute;
  mask-image: url('./arrow-down.svg');
  mask-repeat: no-repeat;
  mask-position: 0 50%;
}

.select-wrapper select {
  appearance: none;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .android .select-wrapper {
    background-color: rgb(224, 224, 230);
    color: black;
  }

  .desktop .select-wrapper span:before {
    background: white;
  }
}
